* {
	font-family: 'Press Start 2P', sans-serif;
	text-transform: uppercase;
}

body {
	background-color: #111;
}

i {
	color: white;
}

h1 {
	color: white;
	font-size: 2.5em;
	padding: 20px 0px;
}

h2 {
	color: white;
	font-size: 1.5em;
	padding-top: 20px;
}

button {
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px;
	background-color: #C0FFEE;
}

button:hover {
	color: white;
}

button:active {
	background-color: #00f0be;
}

#board {
	margin-top: 50px;

}

.box {
	border: 1px solid white;
	height: 150px;
}

.row {
	padding: 0px;
	margin: 0px;
}

/*Create CSS classes that show tile status when toggled*/

.empty {
	visibility: hidden;
}

.player1 {
	background-color: blue;
}

.player2 {
	background-color: red;
}

/*CSS classes for Win and Draw modals*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #00f0be;
    color: #ffffff;
    padding: 50px;
    margin: auto;
    margin-top: 370px;
    border: 1px solid #888;
    width: 50%;
    height: 40px;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}