* {
	font-family: 'Press Start 2P', sans-serif;
	text-transform: uppercase;
}

body {
	background-color: #111;
}

i {
	color: white;
}

h1 {
	color: white;
	font-size: 2.5em;
	padding: 20px 0px;
}

h2 {
	color: white;
	font-size: 1.5em;
	padding-top: 20px;
}

button {
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px;
	background-color: #C0FFEE;
}

button:hover {
	color: white;
}

button:active {
	background-color: #00f0be;
}

#board {
	margin-top: 50px;

}

.box {
	border: 1px solid white;
	height: 150px;
}

.row {
	padding: 0px;
	margin: 0px;
}

/*Create CSS classes that show tile status when toggled*/

.empty {
	visibility: hidden;
}

.player1 {
	background-color: blue;
}

.player2 {
	background-color: red;
}